# AuthName "Raydium Demo Mode"
# AuthType Basic
# AuthUserFile /srv/users/username/apps/username/_htpass/.htpasswd
# Require valid-user

<files .htaccess>
Order allow,deny
Deny from all
</files>

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# ErrorDocument directives.
# ErrorDocument 400 "Bad Request."
# ErrorDocument 401 "Unauthorized Access."
# ErrorDocument 403 "No Access Permission."
# ErrorDocument 404 "Page Not Found."
# ErrorDocument 405 "Method Not Allowed."
# ErrorDocument 408 "Request Timeout."
# ErrorDocument 410 "Gone."
# ErrorDocument 411 "Length Required."
# ErrorDocument 412 "Precondition Failed."
# ErrorDocument 413 "Payload Too Large."
# ErrorDocument 414 "URI Too Long."
# ErrorDocument 415 "Unsupported Media Type."
# ErrorDocument 416 "Range Not Satisfiable."
# ErrorDocument 417 "Expectation Failed."
# ErrorDocument 426 "Upgrade Required."
ErrorDocument 500 "Internal Server Error."
ErrorDocument 501 "Not Implemented."
ErrorDocument 502 "Bad Gateway."
ErrorDocument 503 "Service Unavailable."
ErrorDocument 504 "Gateway Timeout."
ErrorDocument 505 "HTTP Version Not Supported."

# Block WordPress xmlrpc.php
<Files xmlrpc.php>
  order deny,allow
  deny from all
</Files>

Options All -Indexes
<FilesMatch "^(readme.*|license.*|composer.*|wp-config.php|README.*)$">
    order allow,deny
    deny from all
</FilesMatch>

<files wp-config.php>
    Order allow,deny
    Deny from all
</files>
